<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="google-site-verification" content="3eT8RxD3F8qDPH8Ayp1FY3oENWW0ampiKGO1A0RVgZk" />
</head>
<body class="pink-bg">

<%= yield %>

</body>
</html>
