<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="google-site-verification" content="3eT8RxD3F8qDPH8Ayp1FY3oENWW0ampiKGO1A0RVgZk" />
  <meta name="p:domain_verify" content="87a42098394c3a26b2be132ae520f0af"/>

  <script type='text/javascript'>(function(s) {var head = document.getElementsByTagName('HEAD').item(0);var s= document.createElement('script');s.type = 'text/javascript';s.src='//www.formget.com/app/app_data/new-widget/popup.js';head.appendChild(s); var options = {'tabKey': '9ntd-204922/t','tabtext':'CONTACT','height': '463','width': '350','tabPosition':'left','textColor': '000000','tabBackground': 'ffffff','fontSize': '16','tabbed':''};s.onload = s.onreadystatechange = function() {var rs = this.readyState;if (rs)if (rs != 'complete')if (rs != 'loaded')return;try {sideBar = new buildTabbed();sideBar.initializeOption(options);sideBar.loadContent();sideBar.buildHtml();} catch (e) {}  };var scr = document.getElementsByTagName(s)[0];})(document, 'script');</script>
</head>
<body class="pink-bg">

<%= yield %>

<script type="text/javascript">
    // window.doorbellOptions = {
    //     appKey: 'Mrq5rSU2BYjRwcpHVp9GMPLZNOgH1xJDaSZCAZTxN9t81daepdOWQ2oi6kB2K0tT'
    // };
    // (function(w, d, t) {
    //     var hasLoaded = false;
    //     function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/3976?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
    //     if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
    //     if (d.readyState == 'complete') { l(); }
    // }(window, document, 'script'));
    // // document.getElementById("doorbell-button").innerHTML = "CONTACT";
    // // $('#doorbell-button').text("contact");
    // // var element = document.getElementById("doorbell-button");
    // // element.innerHTML = "CONTACT";
    // document.getElementById("doorbell-button").innerHTML = "CONTACT";
</script>
</body>
</html>
